.idea/
/porn/jh/wawq_jh/*未下载.text
/porn/jh/zpdr_ycsq_jh/*未下载.text
/porn/all/zpdr_ycsq_all/*未下载.text
/porn/all/xqfx/*未下载.text
/porn/all/wawq_all/*未下载.text

/porn/jh/wawq_jh/*.txt
/porn/jh/zpdr_ycsq_jh/*.txt
/porn/all/zpdr_ycsq_all/*.txt
/porn/all/xqfx/*.txt
/porn/all/wawq_all/*.txt
/667xs/tpzp/*.text
/667xs/zfmt/*.text
/667xs/mrqc/*.text
/xs/mrqc/*未下载.txt
/xs/tpzp/*未下载.txt
/xs/zfmt/*未下载.txt
/ppp91/wyzp/*.txt
/ppp91/mtst/*.txt
/SISE4455/sise-mtsw/*.txt
/s890qa/tpzp/*.text
/xs/mrqc/1/**
/xs/zfmt/1/**
/venv/**
