.idea/
/porn/jh/wawq_jh/*未下载.text
/porn/jh/zpdr_ycsq_jh/*未下载.text
/porn/all/zpdr_ycsq_all/*未下载.text
/porn/all/xqfx/*未下载.text
/porn/all/wawq_all/*未下载.text

/porn/jh/wawq_jh/*.txt
/porn/jh/zpdr_ycsq_jh/*.txt
/porn/all/zpdr_ycsq_all/*.txt
/porn/all/xqfx/*.txt
/porn/all/wawq_all/*.txt
